.new-discount__price {
  .back__btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #737373;
    display: flex;
    gap: 6px;
    align-items: center;

    .left__arrow {
      width: 18px;
      height: 18px;
      fill: #737373;
    }

    p {
      font-weight: 600;
    }

    &:hover {
      color: #141414;

      .left__arrow {
        fill: #141414;
      }
    }
  }

  .header__title {
    padding: 18px 0;
  }

  .btn_group {
    display: flex;
    gap: 10px;
  }
}
