.promoDates {
  margin-bottom: 20px;
}
.row-date {
  display: flex;
  height: 44px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  .remove_icon {
    right: -54px;
    position: absolute;
    cursor: pointer;
    border-radius: 9999px;
    background: rgba(255, 75, 60, 0.14);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row-date > input {
  border-radius: 6px;
  border: 1px solid var(--gray-400, #a3a3a3);
}

.price-promo {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--gray-400, #a3a3a3);
  &-value {
    border: none;
    outline: none;
    border-radius: 6px;
  }
  width: 100%;
  &:focus-within {
    border: 1px solid #fc0;
  }
}

.price-promo-value {
  width: 100%;
  padding: 4px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--White, #fff);
  font-size: 16px;
}

.promoDates-titles {
  display: flex;
  margin-top: 10px;
  margin-bottom: 6px;
  gap: 40px;
}
.promoDates-titles p {
  width: 100%;
}
.azn {
  display: flex;
  padding: 8px 6px;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100, #f5f5f5);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.frDays{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frontPhotoHertzDays{
  width: 495px ;
  height: 313px;
  
  position: absolute;
  top: 441px;
  left: 140px;
  display: flex;
  align-items: flex-end ;
}

.allHeadingAndSubDays{
  position: absolute;
  top: 81px;
  left: 10px;
  width: 200px;

}
.allHeadingAndSubDays div:first-child{
  font-size: 16px;
  margin-bottom: 10px;
}
.allHeadingAndSubDays div:last-child{
  font-size: 12px;
}
