.promoDates{
    margin-bottom: 20px;
}
.row-date{
 display: flex;
 height: 44px;
 margin-bottom: 32px;
}
.row-date > input{
    margin-right: 32px;
    padding: 4px 16px;
    border-radius: 6px;
    border: 1px solid var(--gray-400, #a3a3a3);
    gap: 10px;
    width: 197px;
}
.price-promo{
    display: flex;
    width: 197px;
    padding-left: 4px;
    border-radius: 6px;
    border: 1px solid var(--gray-400, #a3a3a3);
    &-value {
      border: none;
      outline: none;
      border-radius: 6px;
    }
}
.promoDates-titles{
    display: flex;
    margin-bottom: 6px;
}
.promoDates-titles p{
    margin-right: 32px;
    width: 197px;
}
.azn{
    display: flex;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100, #F5F5F5);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}