.filled {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  background-color: #fc0;
  outline: none;
  border: none;
  cursor: pointer;
  height: 44px;
}

.filled-text {
  margin-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
