.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #fc0;
  outline: none;
  height: 44px;
  cursor: pointer;
  padding: 12px;
  background-color: #fff;
  margin-left: 10px;
}

.outline-text {
  margin-left: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
