.search-element {
  border: 1px solid #d6d6d6;
  width: 280px;
  height: 44px;
  border-radius: 6px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search {
  outline: none;
  border: none;
  font-size: 16px;

  &::placeholder {
    color: #a3a3a3;
    font-weight: 400;
  }
}
