.upload-image-container {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: #fff;
  width: 100%;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--gray-600, #475467);
  height: 120px;
  font-size: 14px;
  font-weight: 400;

  .image-name {
    font-weight: 600;
  }

  .details {
    font-size: 12px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 4px solid #f9fafb;
    background: #f2f4f7;
    padding: 8px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
